<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ChanSort.Ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <ChanSort.Ui.Properties.Settings>
            <setting name="InputListRowHandle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputListRowHandle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputListLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterName" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterOldSlot" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterCrypt" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterNewSlot" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterUid" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFilterName" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFilterNewSlot" serializeAs="String">
                <value />
            </setting>
            <setting name="Encoding" serializeAs="String">
                <value />
            </setting>
            <setting name="HideLeftList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="InputGridLayoutAnalog" serializeAs="String">
                <value />
            </setting>
            <setting name="InputGridLayoutDvbCT" serializeAs="String">
                <value />
            </setting>
            <setting name="InputGridLayoutDvbS" serializeAs="String">
                <value />
            </setting>
            <setting name="LeftPanelWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowWarningsAfterLoading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EraseDuplicateChannels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLoadRefList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoAppendUnsortedChannels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CloseGaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MruFile0" serializeAs="String">
                <value />
            </setting>
            <setting name="MruFile1" serializeAs="String">
                <value />
            </setting>
            <setting name="MruFile2" serializeAs="String">
                <value />
            </setting>
            <setting name="MruFile3" serializeAs="String">
                <value />
            </setting>
            <setting name="MruFile4" serializeAs="String">
                <value />
            </setting>
            <setting name="MruFile5" serializeAs="String">
                <value />
            </setting>
            <setting name="MruFile6" serializeAs="String">
                <value />
            </setting>
            <setting name="MruFile7" serializeAs="String">
                <value />
            </setting>
            <setting name="MruFile8" serializeAs="String">
                <value />
            </setting>
            <setting name="MruFile9" serializeAs="String">
                <value />
            </setting>
        </ChanSort.Ui.Properties.Settings>
        <GUI.Properties.Settings>
            <setting name="InputTLL" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutputTLL" serializeAs="String">
                <value/>
            </setting>
            <setting name="InputListRowHandle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputListRowHandle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputListLayout" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutputListLayout" serializeAs="String">
                <value/>
            </setting>
            <setting name="InputFilterName" serializeAs="String">
                <value/>
            </setting>
            <setting name="InputFilterOldSlot" serializeAs="String">
                <value/>
            </setting>
            <setting name="InputFilterCrypt" serializeAs="String">
                <value/>
            </setting>
            <setting name="InputFilterNewSlot" serializeAs="String">
                <value/>
            </setting>
            <setting name="InputFilterChannel" serializeAs="String">
                <value/>
            </setting>
            <setting name="InputFilterUid" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutputFilterName" serializeAs="String">
                <value/>
            </setting>
        </GUI.Properties.Settings>
    </userSettings>
</configuration>
