<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ChanSort.Ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup><userSettings>
        <ChanSort.Ui.Properties.Settings>
            <setting name="InputTLL" serializeAs="String">
                <value />
            </setting>
            <setting name="InputListRowHandle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputListRowHandle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputListLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterName" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterOldSlot" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterCrypt" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterNewSlot" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterUid" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFilterName" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFilterNewSlot" serializeAs="String">
                <value />
            </setting>
            <setting name="Encoding" serializeAs="String">
                <value />
            </setting>
            <setting name="HideLeftList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="InputGridLayoutAnalog" serializeAs="String">
                <value />
            </setting>
            <setting name="InputGridLayoutDvbCT" serializeAs="String">
                <value />
            </setting>
            <setting name="InputGridLayoutDvbS" serializeAs="String">
                <value />
            </setting>
            <setting name="LeftPanelWidth" serializeAs="String">
                <value>0</value>
            </setting>
        </ChanSort.Ui.Properties.Settings>
        <GUI.Properties.Settings>
            <setting name="InputTLL" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputTLL" serializeAs="String">
                <value />
            </setting>
            <setting name="InputListRowHandle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputListRowHandle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputListLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputListLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterName" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterOldSlot" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterCrypt" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterNewSlot" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="InputFilterUid" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFilterName" serializeAs="String">
                <value />
            </setting>
        </GUI.Properties.Settings>
    </userSettings>
</configuration>
